.App {
  text-align: center;
}
.MainBox{
  border: 2px solid black;
  width: 450px;
  margin-left: 400px;
}
.Title{
  background-color: gray;
  padding: 12px 10px;
}
.Title h3{
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
}
.Tab button{
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 30%;
  border: 1px solid black;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}
.Tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.Tab button.active {
  background-color:gray;
}
.TabContent{
  float: right;
  border-top: 1px solid black;
  width: 70%;
  margin-top: -330px;
  font-family: 'Times New Roman', Times, serif;
}
.TabContent h3{
  border-bottom: 2px solid black;
}

.TabContent p{
  margin-top: 100px;
}

.TitleIcons{
  float: left;
  font-size: 23px;
  margin: 20px 10px;
}
